.singup-title{
    text-align: center;
}
.singup-container{
    background-color: #fff;
    width: fit-content;
    margin:20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 10px 20px;
    border-radius: 15px;
}
.input-lable{
    display: block;
    font-size: 25px;
}
.input-field{
    font-size: 23px;
    padding: 5px 10px;
    border:1px solid #ccc;
    border-radius: 5px;
}
.input-container{
    margin: 20px auto ;
}
.signup-btn{
    background-color: black;
    color: #fff;
    font-size: 24px;
    padding: 10px 30px;
    border-radius: 25px;
    margin: 20px auto;
    display: block;
}